body {
  margin: 0;
  padding: 0;
  background-color: #8401EA;
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

