
.principal{
    margin: 150px auto 50px;
    background-color: white;
    color:#333333;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 8px 7px 11px 7px rgb(170, 160, 160);
    padding: 15px;
}

.principal p{
    margin-bottom: 40px;
}

.principal .link{
    margin-bottom: 15px;
    
}

.principal  a{
    margin-bottom: 15px;
    width: 100px;
    background-color: #1FE0BA;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 500ms;
}

.principal a:hover{
    background-color: white;
    color: #1fe0ba;
    font-weight: bold;
}

.back{
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.back a{
    color:#1fe0ba;
    text-decoration: none;
    font-size: 14pt;
}